//引入header
@import url("header.less");
//tangyang

//定义个人中心的样式
#mainContent{
    margin-top: 10px;
    
    .panel-body{
        ul{
            list-style: none;
            
            li{
                line-height: 26px;
                
                a{
                    &:focus{
                        font-weight: bold;
                        color: orangered;
                    }
                }
            }
        }
    }
    
    #rightCon{
        
        .panel-body{
            padding: 30px;
            
            .row:nth-child(1){
                img{
                    width: 80px;
                }
            }
            
            .row:nth-child(2){
                font-size: 16px;
                padding: 20px 0px;
                margin: 10px 0px;
                border-top: solid 1px #F0F0F0;
            }
            
            .row:nth-child(4){
                div{
                    margin: 10px 0px;
                    
                    .authIcon{
                        background: url("../../../static/images/shiming.png") no-repeat left center;
                        padding-left: 65px;
                    }
                    .authIcon2{
                        background: url("../../../static/images/shouji.jpg") no-repeat left center;
                        padding-left: 65px;
                    }
                    .authIcon3{
                        background: url("../../../static/images/youxiang.jpg") no-repeat left center;
                        padding-left: 65px;
                    }
                    .authIcon4{
                        background: url("../../../static/images/baozhan.jpg") no-repeat left center;
                        padding-left: 65px;
                    }
                }
                div:nth-child(1),div:nth-child(3){
                    padding-left: 60px;
                }
                div:nth-child(2),div:nth-child(4){
                    padding-left: 60px;
                }
            }
        }  
    }
}




//引入footer
@import url("footer.less");

