//引入header
@import url("header.less");


//账户信息内容
.el-account .el-account-info{
    border-bottom: solid 1px #ddd;
    padding-bottom: 16px;
}

.el-account .el-account-info .el-head-img{
    border: 1px solid #ddd;
    padding: 10px;
    float: left;

    img {
        height: 72px;
        width: 72px;
    }
}

.el-account .el-account-info .el-head {
    margin-top: 5px;
    margin-left: 15px;
}

.el-account .el-accoun-auth {
    padding: 20px 0px 0px 10px;

     h5{
        font-weight: bold;
        padding: 0px;
        margin: 10px 0px 10px 0px;
    }

}


/* .el-account .el-accoun-auth h5 {
    font-weight: bold;
    padding: 0px;
    margin: 0px 0px 10px 0px;
} */







//引入footer
@import url("footer.less");

